<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Task Scheduler</title>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
      />
      <script
        src="https://kit.fontawesome.com/2927aad061.js"
        crossorigin="anonymous"
      ></script>
      <style>
        td {
          text-align: center;
        }

      #dt-length-0, .dt-search {
          /* display: none !important;  */
          margin-bottom: 0.5rem !important;
          margin-right: 0.5rem !important;
      }
      .navbar-nav .nav-item button:hover {
        background-color: white;
        /* Add any other styles you want for the hover effect */
      }
      </style>

      <!-- Bootstrap JS (optional) -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
      <!-- DataTables CSS -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css">
      <!-- DataTables JS -->
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>


  </head>
  <body>
    <main>
      <!-- NavBar -->
      <nav class="navbar sticky-top bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Task Scheduler</a>
          <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <button
                    type="button"
                    class="btn"
                    data-bs-toggle="modal"
                    data-bs-target="#addTaskModal">
                    Add Task
                  </button>
                </li>
              </ul>
              <form id="searchForm" class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  id="searchInput"/>
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </nav>
        <div class="container">
          <div
            id="addTask"
            class="d-flex justify-content-center align-items-center my-sm-4"
          >
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#addTaskModal"
            >
              Add Task
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="addTaskModal"
              tabindex="-1"
              aria-labelledby="addTaskLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addTaskLabel">
                      Modal title
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>

                  <form action="/create" method="POST">
                    <div class="modal-body p-3">
                      <div class="form-group">
                        <label for="taskName" class="required"
                          >Task Name:
                        </label>
                        <input
                          type="text"
                          placeholder="task"
                          class="form-control"
                          name="taskName"
                          required
                        />
                      </div>
                      <div class="row my-3">
                        <div class="form-group col-6">
                          <label for="intensity">Intensity: </label> <br />
                          <select
                            name="intensity"
                            id="intensity"
                            class="form-select"
                          >
                            <option value="" selected disabled>
                              select intensity
                            </option>
                            <option value="0">low</option>
                            <option value="1">medium</option>
                            <option value="2">high</option>
                          </select>
                        </div>
                        <div class="form-group col-6">
                          <label for="deadline">Deadline: </label>
                          <input
                            type="date"
                            id="deadline"
                            name="deadline"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="taskBoard" class="col-10 mx-auto">
            <table id="dataTable" class="table table-hover rounded-3 display">
              <thead class="table-dark">
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">Task</th>
                  <th scope="col" class="text-center">Intensity</th>
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Deadline</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% if tasks %} 
                {% for task in tasks %}
                <tr>
                  <td class="align-middle" scope="row">{{ loop.index }}</td>
                  <td class="align-middle"><strong>{{ task.title|capitalize }}</strong></td>
                  <td class="align-middle">
                    <span class="{% if task.intensity == 'low' %}bg-warning-subtle{% elif task.intensity == 'medium' %}bg-danger-subtle{% else %}text-bg-danger{% endif %} rounded-2 px-2 py-1">{{ task.intensity|capitalize }}</span>
                  </td>
				          <td class="align-middle">
                    <span class="{% if task.status == 'pending' %}bg-warning-subtle{% elif task.status == 'completed' %}bg-success-subtle{% else %}text-bg-danger{% endif %} rounded-2 px-2 py-1">{{ task.status|capitalize }}</span>
                  </td>
                  <td class="align-middle">{{ task.deadline|format_date }}</td>
                  <td class="align-middle">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#editModal{{ task._id }}"
                    >
                      <i class="fa-solid fa-pencil"></i>
                    </button>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="editModal{{ task._id }}"
                      tabindex="-1"
                      aria-labelledby="editModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editModalLabel">
                              Edit Task
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <form action="/edit_task" method="POST">
                              <div class="form-group mb-3 text-start">
                              <label for="editTaskName" class="mx-2 mb-1"> <strong>Task Name</strong></label>
                              <input
                                type="text"
                                class="form-control"
                                id="editTaskName"
                                name="editTaskName"
                                value="{{ task.title }}"
                                required
                              >
                              </div>
                              <div class="form-row">
                              <div class="form-group mb-3 text-start">
                                <label for="editIntensity" class="mx-2 mb-1"> <strong>Intensity</strong></label><br />
                                <select
                                name="editIntensity"
                                id="editIntensity"
                                class="form-select"
                                >
                                <option value="0" {% if task.intensity == "low" %}selected{% endif %}>Low</option>
                                <option value="1" {% if task.intensity == "medium" %}selected{% endif %}>Medium</option>
                                <option value="2" {% if task.intensity == "high" %}selected{% endif %}>High</option>
                                </select>
                              </div>
                              <div class="form-group mb-3 text-start">
                                <label for="editStatus" class="mx-2 mb-1"><strong>Status</strong></label>
                                <select name="editStatus" id="editStatus" class="form-select">
                                  <option value="pending" {% if task.status == "pending" %}selected{% endif %}>Pending</option>
                                  <option value="completed" {% if task.status == "completed" %}selected{% endif %}>Completed</option>
                                </select>
                              </div>
                              <div class="form-group mb-3 text-start">
                                <label for="editDeadline" class="mx-2 mb-1"><strong>Deadline</strong></label>
                                <input
                                type="date"
                                class="form-control"
                                id="editDeadline"
                                name="editDeadline"
                                value="{{ task.deadline }}"
                                >
                              </div>
                              </div>
                              <input type="hidden" name="task_id" value="{{ task._id }}">
                              <div class="modal-footer text-center">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Cancel
                              </button>
                              <button type="submit" class="btn btn-success">Save</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal{{ task._id }}"
                    >
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="deleteModal{{ task._id }}"
                      tabindex="-1"
                      aria-labelledby="deleteModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">
                              Delete Task
                            </h1>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            Do you want to delete {{ task.title }}
                          </div>
                          <div class="modal-footer text-center">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              No
                            </button>
                            <button
                              type="button"
                              onclick="deleteEntry('{{ task._id }}')"
                              class="btn btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="6" class="text-center">No tasks available</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <footer></footer>
      </main>
      
      <script>
        function deleteEntry(taskId) {
          $.ajax({
            type: "POST",
            url: "/delete",
            data: { taskId: taskId },
            success: function (response) {
              // Handle success response
              console.log("Entry deleted successfully");
              console.log(taskId);
              // Reload the page or update UI as needed
              window.location.reload();
            },
            error: function (xhr, status, error) {
              // Handle error response
              console.error("Error deleting entry:", error);
            },
          });
        }
        
        $(document).ready(function() {
          // Data passed from Flask to JavaScript
          const tasks = {{ tasks | tojson }};
          console.log("tasks: ", tasks);
          // Check if tasks exist
          if (tasks.length > 0) {
            let table = new DataTable('#dataTable',{
              'searchable': true,
              "columnDefs": [
                { "searchable": false, "targets": [ 0, 5 ] },
                { "orderable": false, "targets": [ 1, 2, 3, 4, 5] }, // Exclude the rest column from ordering
              ],
              "initComplete": function(settings, json) {
                $('.dt-search input').attr('placeholder', 'Search...');
              }
            });
            // Capture search form submission
            $('#searchForm').on('submit', function(e) {
              e.preventDefault(); // Prevent default form submission
              var searchTerm = $('#searchInput').val(); // Get the search term from input
              table.search(searchTerm).draw(); // Perform DataTable search and redraw table
              console.log("search term: ", searchTerm);
            });
          } 
          else {
            console.log("No tasks found");
          }
        }); 
      
      </script>
    </body>
</html>
